<html>

<head>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css">
</head>

<body ng-app="Audit">
    <div ng-controller="AuditTable">
        <md-toolbar layout-align="space-around">
            <div class="md-toolbar-tools">
                <h2>
                  <span>License Audit Report</span>
                </h2>
                <span flex></span>
                <md-button class="md-raised" ng-click="loadUserAccess()">Load user accesses</md-button>
                <md-button class="md-raised" ng-csv="getArray" csv-header="getHeader()" filename="{{ filename }}" field-separator="{{separator}}" decimal-separator="{{decimalSeparator}}">Export CSV</md-button>
            </div>
        </md-toolbar>
        <md-input-container md-no-float>
            <input class="md-body-2" placeholder="Search" ng-model="searchText">
        </md-input-container>
        <md-table-container>
            <table md-table>
                <thead md-head md-order="myOrder">
                    <tr md-row>
                        <th md-column md-order-by="user.userId">UserId</th>
                        <th md-column md-order-by="lastUsed">Last Used</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="useraccess in useraccesses | orderBy: myOrder | filter: searchText">
                        <td md-cell>{{useraccess.user.userId}}</td>
                        <td md-cell>{{useraccess.lastUsed}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.min.js"></script>
    <script src="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.6/ng-csv.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <!-- Load data from QRS API -->
    <script>
        var app = angular.module("Audit", ['ngMaterial', 'md.data.table', "ngSanitize", "ngCsv"]);
        app.controller("AuditTable", function($scope, $http) {
            $scope.filename = "Export.csv";
            $scope.separator = ",";
            $scope.decimalSeparator = ".";

            $scope.loadUserAccess = function() {
                $http.get('/qrs/license/useraccesstype/full?xrfkey=aaaaaaaaaaaaaaaa', {
                    withCredentials: true,
                    headers: {
                        'X-qlik-xrfkey': 'aaaaaaaaaaaaaaaa'
                    }
                }).success(function(data) {
                    $scope.useraccesses = data;
                }).error(function() {
                    alert("An unexpected error occured!");
                });
            }

            $scope.getArray = function() {
                var index;
                var userArray = [];
                for (index = 0; index < $scope.useraccesses.length; index++) {
                    userArray[index] = {
                        "user": $scope.useraccesses[index].user.userId,
                        "lastused": $scope.useraccesses[index].lastUsed
                    }
                }
                return userArray;
            }

            $scope.getHeader = function() {
                return ["User", "Last used"]
            };
        });
    </script>
</body>
<html>
