<html>

<head>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css">
</head>

<body ng-app="Audit">
    <div ng-controller="AuditTable">
        <md-toolbar layout-align="space-around">
            <div class="md-toolbar-tools">
                <h2>
                 <span>License Audit Report</span>
               </h2>
                <span flex></span>
                <md-button class="md-raised" ng-click="loadUsers()">Load users</md-button>
                <md-button class="md-raised" ng-csv="getArray" csv-header="getHeader()" filename="{{ filename }}" field-separator="{{separator}}" decimal-separator="{{decimalSeparator}}">Export CSV</md-button>
            </div>
        </md-toolbar>
        <md-input-container md-no-float>
            <input class="md-body-2" placeholder="Search" ng-model="searchText.userId">
        </md-input-container>
        <md-table-container>
            <table md-table>
                <thead md-head md-order="myOrder">
                    <tr md-row>
                        <th md-column md-order-by="userId">UserId</th>
                        <th md-column>Attributes</th>
                        <th md-column>Custom Properties</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="user in users| orderBy: myOrder | filter: searchText">
                        <td md-cell>{{user.userId}}</td>
                        <td md-cell>
                            <md-list>
                                <md-list-item ng-repeat="attribute in user.attributes">
                                    {{attribute.attributeType}} = {{attribute.attributeValue}}
                                </md-list-item>
                            </md-list>
                        </td>
                        <td md-cell>
                            <md-list>
                                <md-list-item ng-repeat="customProperty in user.customProperties">
                                    {{customProperty.definition.name}} = {{customProperty.value}}
                                </md-list-item>
                            </md-list>
                        </td>
                    </tr>
                </tbody>
            </table>

    </div>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.min.js"></script>
    <script src="https://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.6/ng-csv.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <!-- Load data from QRS API -->

    <script>
        var app = angular.module("Audit", ['ngMaterial', 'md.data.table', "ngSanitize", "ngCsv"]);
        app.controller("AuditTable", function($scope, $http) {
            $scope.filename = "Export.csv";
            $scope.separator = ",";
            $scope.decimalSeparator = ".";

            $scope.loadUsers = function() {
                $http.get('../../qrs/user/full?xrfkey=aaaaaaaaaaaaaaaa', {
                    withCredentials: true,
                    headers: {
                        'X-qlik-xrfkey': 'aaaaaaaaaaaaaaaa'
                    }
                }).success(function(data) {
                    $scope.users = data;
                }).error(function() {
                    alert("An unexpected error occured!");
                });
            }
            $scope.getArray = function() {
                var index;
                var count = 0;
                var userArray = [];
                for (index = 0; index < $scope.users.length; index++) {
                    count++;
                    var user = $scope.users[index].userId;

                    for (attrindex = 0; attrindex < $scope.users[index].attributes.length; attrindex++) {
                        userArray[count] = {
                            "user": user,
                            "attribute": $scope.users[index].attributes[attrindex].attributeType + "=" + $scope.users[index].attributes[attrindex].attributeValue,
                            "properties": ""
                        }
                        count++;
                    }

                    for (propindex = 0; propindex < $scope.users[index].customProperties.length; propindex++) {
                        userArray[count] = {
                            "user": user,
                            "attribute": "",
                            "properties": $scope.users[index].customProperties[propindex].definition.name + "=" + $scope.users[index].customProperties[propindex].value
                        }
                        count++;
                    }
                }
                return userArray;
            }

            $scope.getHeader = function() {
                return ["User", "Attributes", "Custom Properties"]
            };
        });
    </script>
</body>
<html>
